params {
    out = './'
}

singularity.enabled = true
singularity.autoMounts = true

process {
    time = 12.h
    memory = 120.GB
    cpus = 28
    cache = 'lenient'
    container = 'brianlohman/cellranger-nf:latest'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
        }   
    }
}

timeline {
    enabled = true
    file = "${params.out}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.out}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.out}/logs/trace.txt"
} 
