params {
    out = './'
}

singularity.enabled = true
singularity.autoMounts = true

profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
            time = 12.h
            memory = 120.GB
            cpus = 28
            cache = 'lenient'
            container = 'qingl0331/qinglhci2019:ranger10x_v1'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/pe-nfs1/u0762203/tmp'
        }   
    }
}

timeline {
    enabled = true
    file = "${params.out}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.out}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.out}/logs/trace.txt"
} 
