process {
    time = 12.h
    memory = 120.GB
    cpus = 28
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
}

profiles {
    slurm {
        process.executor = 'slurm'
        queue= 'hci-rw-shared'
        clusterOptions = '--account=hci-rw'
        scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
    }
}
